
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222; /* Màu nền chính */
    color: #e0e0e0; /* Màu chữ */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    background: #333 !important; /* Màu nền thanh điều hướng */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    transition: top 0.3s;
    margin: 0 auto;
}

    .navbar .navbar-brand {
        color: #FFFF99 !important;
        font-weight: bold;
        font-family: "Playwrite ES Deco", cursive;
        display: flex;
        align-items: center;
    }

        .navbar .navbar-brand img {
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

    .navbar .nav-link {
        color: #fff !important; /* Màu chữ của liên kết */
        font-weight: bold;
        margin-right: 20px;
        position: relative;
    }

        .navbar .nav-link:hover,
        .navbar .nav-link.active {
            color: #ddd !important; /* Màu chữ khi hover */
        }

        .navbar .nav-link:not(.dropdown-toggle)::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #28a745;
            transition: width .3s;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .navbar .nav-link:not(.dropdown-toggle):hover::after,
        .navbar .nav-link:not(.dropdown-toggle).active::after {
            width: 100%;
        }

    .navbar .login-btn {
        background: #28a745;
        color: #fff !important;
        border-radius: 50px;
        padding: 0.5rem 1rem;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        .navbar .login-btn:hover {
            background: #218838;
        }

.navbar-toggler {
    border: none;
}

    .navbar-toggler:focus {
        outline: none;
    }

.nav-item .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    border: none;
    background: none;
}

.dropdown-toggle::after {
    margin-left: 0.5rem;
    vertical-align: 0.1em;
}

.navbar .nav-item.dropdown .dropdown-menu {
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
    background-color: #FDF4F3;
    min-width: 150%;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 70px;
}

.diamond-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #444; /* Màu nền của phần tử kim cương */
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
    text-align: center;
    height: 100%;
    max-width: 420px;
    color: #fff;
}

    .diamond-section:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .diamond-section img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 15px;
        border: 2px solid #fff; /* Màu viền hình ảnh */
    }

    .diamond-section h2 {
        font-size: 1.5em;
        margin-bottom: 15px;
        font-family: 'Playfair Display', serif;
        color: #FFD700;
    }

    .diamond-section .description {
        text-align: justify;
        margin-bottom: 20px;
        flex-grow: 1;
        color: #e0e0e0;
    }

    .diamond-section .view-more {
        font-weight: bold;
        background-color: #FFD700;
        color: #333;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        .diamond-section .view-more:hover {
            background-color: #FFC700;
            color: #1c1c3c;
        }

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-lg-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #FFD700;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

    .footer a {
        color: #FFD700;
        text-decoration: none;
        margin: 0 10px;
    }

        .footer a:hover {
            color: #FFF;
            text-decoration: underline;
        }

/* Custom CSS for Diamond Search icons */
.diamond-search-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

    .diamond-search-icons figure {
        margin: 0;
        text-align: center;
    }

        .diamond-search-icons figure img {
            width: 70px;
            height: 70px;
        }

    .diamond-search-icons figcaption {
        font-size: 11px;
        margin-top: 5px;
        color: #FFD700;
    }

/* Custom CSS for Search button */
.search-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700;
    color: #000033;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px;
    font-weight: bold;
}

    .search-button:hover {
        background-color: #FFC700;
        color: #000033;
    }

/* Media Queries for Responsive Design */
@@media (max-width: 992px) {
    .navbar-collapse {
        justify-content: flex-start;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        text-align: right;
    }

    .navbar .nav-link {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar .login-btn {
        margin-bottom: 10px;
    }
}
