.container-profile {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 15px;
	background-color: #333;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fa {
	margin-top: 10px;
	margin-left: 5px;
}

.profile-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -10px;
	margin-top: -70px;
}

	.profile-header img {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin-right: 20px;
	}

	.profile-header h2 {
		font-size: 24px;
		margin: 0;
	}

.profile-section {
	margin-bottom: 20px;
}

	.profile-section h3 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.profile-section .form-group {
		margin-bottom: 15px;
		position: relative;
	}

		.profile-section .form-group label {
			font-weight: bold;
		}

		.profile-section .form-group input,
		.profile-section .form-group select {
			width: 100%;
			padding-left: 40px; /* Adjust padding to make room for the icon */
			border: 1px solid #ccc;
			border-radius: 25px; /* Bo tròn các thanh điền */
			font-size: 16px;
			height: 40px;
			box-sizing: border-box; /* Ensure padding and border are included in the width */
		}

		.profile-section .form-group i {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 18px;
			color: #888;
		}

.btn-edit-profile-spacing {
	margin-top: 20px;
	background-color: #ffcc00;
	border: none;
	color: #333;
	font-size: 18px;
	height: 50px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 100%;
}

.text-center {
	margin-top: 15px;
	text-align: center;
}
