/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*           font-family: 'Playwrite US Trad', cursive;*/
}

body {
	background-color: #222; /* New background color */
	color: #fff; /* New text color */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.container {
	background-color: #333;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	color: #fff;
}

	.container p {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.3px;
		margin: 20px 0;
		color: #ddd;
	}

	.container span {
		font-size: 12px;
	}

	.container a {
		color: #FFD700;
		font-size: 13px;
		text-decoration: none;
		margin: 15px 0 10px;
	}

	.container .btn {
		font-size: 12px;
		padding: 10px 45px;
		border: 1px solid transparent;
		border-radius: 8px;
		font-weight: 600;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin-top: 10px;
		cursor: pointer;
		transition: background-color 0.3s ease, transform 0.1s ease;
	}

	.container .sign-up-btn {
		background-color: #FFD700;
		color: #1c1c3c;
	}

		.container .sign-up-btn:hover {
			background-color: #FFC700;
		}

		.container .sign-up-btn:active {
			transform: scale(0.95);
		}

	.container .sign-in-btn {
		background-color: #FFD700;
		color: #1c1c3c;
	}

		.container .sign-in-btn:hover {
			background-color: #FFC700;
		}

		.container .sign-in-btn:active {
			transform: scale(0.95);
		}

	.container button.hidden {
		background-color: #02877F;
		color: #fff;
		padding: 10px 45px;
		border: 1px solid transparent;
		border-radius: 8px;
		font-weight: 600;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s ease, transform 0.1s ease;
	}

		/*                .container button.hidden:hover {
                    background-color: #FFC700;
                }*/

		.container button.hidden:active {
			transform: scale(0.95);
		}

	.container form {
		background-color: #444;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 40px;
		height: 100%;
	}

	.container input {
		background-color: #555;
		border: none;
		margin: 8px 0;
		padding: 10px 15px;
		font-size: 13px;
		border-radius: 8px;
		width: 100%; /* Ensures input fields take the full width */
		outline: none;
		color: #fff;
	}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.active .sign-in {
	transform: translateX(100%);
}

.sign-up {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.active .sign-up {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: move 0.6s;
}

@@keyframes move {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.social-icons {
	margin: 20px 0;
}

	.social-icons a {
		border: 1px solid #ccc;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 3px;
		width: 40px;
		height: 40px;
	}

.toggle-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	border-radius: 150px 0 0 100px;
	z-index: 1000;
}

.container.active .toggle-container {
	transform: translateX(-100%);
	border-radius: 0 150px 100px 0;
}

.toggle {
	/*            background-color: #FFD700;*/
	height: 100%;
	background: linear-gradient(to right, #fff, #fff);
	color: #1c1c3c;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: all 0.6s ease-in-out;
}

.container.active .toggle {
	transform: translateX(50%);
}

.toggle-panel {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 30px;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: all 0.6s ease-in-out;
}

.toggle-left {
	transform: translateX(-200%);
}

.container.active .toggle-left {
	transform: translateX(0);
}

.toggle-right {
	right: 0;
	transform: translateX(0);
}

.container.active .toggle-right {
	transform: translateX(200%);
}

.toggle-panel h1,
.toggle-panel p {
	color: #1c1c3c;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-family: 'Playwrite US Trad', cursive;
}

.password-container {
	position: relative;
}

	.password-container .show-password-toggle {
		position: absolute;
		top: 56%;
		cursor: pointer;
		left: 215px;
	}

/* Navbar Styles */
.navbar {
	background: #333 !important; /* Màu nền thanh điều hướng */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 0.5rem 1rem;
	margin-bottom: 20px;
	transition: top 0.3s;
	margin: 0 auto;
}

	.navbar .navbar-brand {
		color: #FFFF99 !important;
		font-weight: bold;
		font-family: "Playwrite ES Deco", cursive;
		display: flex;
		align-items: center;
	}

		.navbar .navbar-brand img {
			height: 40px;
			border-radius: 50%;
			margin-right: 10px;
		}

	.navbar .nav-link {
		color: #fff !important; /* Màu chữ của liên kết */
		font-weight: bold;
		margin-right: 20px;
		position: relative;
	}

		.navbar .nav-link:hover,
		.navbar .nav-link.active {
			color: #ddd !important; /* Màu chữ khi hover */
		}

		.navbar .nav-link:not(.dropdown-toggle)::after {
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background: #28a745;
			transition: width .3s;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.navbar .nav-link:not(.dropdown-toggle):hover::after,
		.navbar .nav-link:not(.dropdown-toggle).active::after {
			width: 100%;
		}

	.navbar .login-btn {
		background: #28a745;
		color: #fff !important;
		border-radius: 50px;
		padding: 0.5rem 1rem;
		font-weight: bold;
		transition: background-color 0.3s;
	}

		.navbar .login-btn:hover {
			background: #218838;
		}

.navbar-toggler {
	border: none;
}

	.navbar-toggler:focus {
		outline: none;
	}

.nav-item .dropdown-toggle {
	position: relative;
	display: flex;
	align-items: center;
}

.dropdown-menu {
	position: absolute;
	transform: translate3d(0px, 0px, 0px);
	border: none;
	background: none;
}

.dropdown-toggle::after {
	margin-left: 0.5rem;
	vertical-align: 0.1em;
}

.navbar .nav-item.dropdown .dropdown-menu {
	top: 100%;
	left: 0;
	margin-top: 0.5rem;
	background-color: #FDF4F3;
	min-width: 150%;
}

@@media (max-width: 992px) {
	.navbar-collapse {
		justify-content: flex-start;
	}

	.navbar-nav {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		text-align: right;
	}

	.navbar .nav-link {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.navbar .login-btn {
		margin-bottom: 10px;
	}
}

div.toggle-panel.toggle-right {
	background-color: #fff;
}

div.toggle-panel.toggle-left {
	background-color: #fff;
}

#btnLogin.btn.btn-success {
	font-family: "font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
}

/* CSS cho thông báo lỗi dạ quang */
.glow-text {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}

