body {
	background-color: #222222;
	color: #fff;
}

.container-custom {
	margin-top: 85px;
}

.diamond-title {
	color: #FFFF99;
	font-size: 39px;
	font-family: Cambria, Geneva, Verdana, sans-serif;
}

.table-container {
	background-color: #444;
	padding: 20px;
	border-radius: 8px;
}

.table-dark th, .table-dark td, .table-dark thead th {
	border-color: #555;
}

.table-dark {
	color: #fff;
	background-color: #333;
}

	.table-dark thead th {
		color: #fff;
		background-color: #444;
	}

	.table-dark tbody tr:nth-of-type(odd) {
		background-color: #3a3a3a;
	}

	.table-dark tbody tr:nth-of-type(even) {
		background-color: #444;
	}

.btn-primary {
	background-color: #4CAF50;
	border: none;
}

	.btn-primary:hover {
		background-color: #45a049;
	}

.btn-info {
	background-color: #2196F3;
	border: none;
}

	.btn-info:hover {
		background-color: #0b7dda;
	}

.nav-buttons .btn-group .btn {
	margin: 5px;
}

.section {
	display: none;
}

	.section.active {
		display: block;
	}

.pagination-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination .active .page-link {
	background-color: #007bff;
	color: white;
}

.status-order-placed, .status-preparing-goods, .status-shipped-to-carrier,
.status-in-delivery, .status-delivered, .status-paid {
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	padding: 10px
}

/* Các màu sắc tương ứng */
.status-order-placed {
	background-color: orange;
	color: white;
}

.status-preparing-goods {
	background-color: green;
	color: white;
}

.status-shipped-to-carrier {
	background-color: #1E91CF;
	color: white;
}

.status-in-delivery {
	background-color: #54B7D3;
	color: white;
}

.status-delivered {
	background-color: #AB482C;
	color: white;
}

.status-paid {
	background-color: #E3503E;
	color: white;
}