.form-container {
	max-width: 600px;
	margin: 50px auto;
	padding: 30px;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;
	color: #333333;
	text-align: center;
}

.form-group label {
	font-weight: bold;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

	.btn-primary:hover {
		background-color: #0056b3;
		border-color: #0056b3;
	}

.custom-file-label::after {
	content: "Browse";
}

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}
