@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <style>
        .login-container {
            padding: 20px;
            margin-top: 100px;
            max-width: 400px;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 2px solid #ccc;
            box-shadow: 0 8px 16px rgba(0,0,0,0.5);
            border-radius: 10px;
            background-color: skyblue;
            color: #333;
        }
    </style>

    <div class="login-container">
        <h2 class="center-text">Reset Password</h2>
        <p class="center-text text-danger">@ViewBag.Message</p>
        @using (Html.BeginForm("ResetPassword", "ForgotPassword", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("code", (string)ViewBag.ResetCode)
            @Html.Hidden("email",(string)ViewBag.Email)
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" name="newPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" class="form-control" required />
            </div>
                
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        }
    </div>