@{
    ViewBag.Title = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions</title>
</head>
<body>
    <div class="container" style="margin-top: 100px">
        <h2 style="text-align:center">Frequently Asked Questions</h2>
        <div class="row">
            <div class="col-12">
                <h3>About The Diamond Shop</h3>
                <div class="description">
                    <h4>I have never made an online purchase before, how can I be sure The Diamond Shop is reputable?</h4>
                    <p>Our goal was - and is - to introduce new and innovative ways for customers to purchase high quality diamonds and fine jewelry in the privacy of their own homes, on the go, and at their own pace. We aim to provide all the education, guidance, and value you need to make purchasing online easy.</p>
                    <p>Learn a little bit about us and see what our 1.7 million customers are saying, and you will find that our unique approach and reputation have allowed us to become one of the largest online jewelers today, offering shipping all over the world.</p>
                </div>

                <h4>Why should I choose The Diamond Shop?</h4>
                <div class="description">
                    <p>Unlike traditional jewelers, The Diamond Shop is available 24 hours a day, seven days a week. We offer phone support, live chat, and e-mail with non-commissioned diamond and jewelry experts. Learn and shop the way you want, with no pressure, hassle-free 30-day return or exchange period.</p>
                    <p>Yes! While The Diamond Shop primarily sells diamonds and fine jewelry online, our showrooms offer the perfect way to see, touch, and try on our rings in person. Unlike at a traditional jewelry store, our non-commissioned diamond and jewelry experts are available for one-on-one consultations to help you find your perfect fit. They’ll answer all your questions and assist you in placing an order on our site for free shipping to your doorstep.</p>
                </div>

                <h3>Return the goods</h3>
                <div class="description">
                    <h4>What is your return policy?</h4>
                    <p>Our commitment to you doesn't end with delivery. Items can be returned or exchanged within 7 days of the date they were shipped, free of charge and no questions asked. To be eligible for a return, items must be in original condition when purchased and include all product documentation.</p>
                    <p>Items damaged by the user or damaged after the delivery person leaves will not be returned. Diamonds purchased as part of our The Diamond Shop Diamond Upgrade Program may not be returned for credit. All The Diamond Shop engraved rings can be returned for credit but engraving fees are non-refundable. Removal of The Diamond Shop engraving from any ring that is exchanged or resized is free of charge with no additional engraving fee. Special orders are final sale and are not eligible for return.</p>
                    <p>Sorry but the answer is no, if you want to return the goods you will have to go to the store and give the information we gave you such as the GIA of the diamond, after inspection we will refund return the goods to you.</p>
                </div>

                <h3>Discounts</h3>
                <div class="description">
                    <h4>Are discounts available?</h4>
                    <p>Yes. You may stay informed on special offers and promotions by subscribing to the The Diamond Shop e-mail list. Sign up at the subscription status page.</p>
                </div>

                <h3>Shipping</h3>
                <div class="description">
                    <h4>How is my order packaged?</h4>
                    <p>We ship using secure, non-descript packaging material. Inside, you'll see The Diamond Shop's elegantly branded gift packaging - ideal for gifting or personal storage.</p>
                    <h4>Can I track my order?</h4>
                    <p>Yes. On the day of shipment, we'll email you shipping confirmation that includes order-tracking information. You'll be kept informed of the transportation process at every step. You may also access shipping information by viewing your Order Status page.</p>
                </div>

                <h3>Payment</h3>
                <div class="description">
                    <h4>How can I pay?</h4>
                    <p>Currently we can only pay through PayPal, and we do not accept cash payments. After we confirm your payment, we will prepare the goods and send them to you.</p>
                    <h4>Can I get a refund when I cancel my order?</h4>
                    <p>You can only cancel an order if the order is in "Order Placed" status.</p>
                </div>

                <h3>Warranty</h3>
                <div class="description">
                    <h4>Do you offer a warranty on the jewelry I purchase from The Diamond Shop?</h4>
                    <p>Yes. In staying true to our high standards of jewelry quality and customer satisfaction, we offer a Warranty to protect against manufacturer defects in craftsmanship. The warranty does not include normal wear and tear or damages incurred due to trauma, negligence, lack of regular maintenance, loss, or theft.</p>
                    <h4>How can I safeguard my purchase against damage, theft, or a loss?</h4>
                    <p>We recommend that you contact an independent insurer such as Jewelers Mutual.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
